{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Module Status{% endblock %}

{% block page_title 'Modules' %}

{% block content %}

    {% if modules %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="60%">Module</th>
                                <th>Number of sites (Site usage)</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for module in modules %}
                        <tr>
                            <td><a href="{{ path('modules_show', {'projectName': module.getProjectName() }) }}">{{ module.getName() }}</a> ({{ module.getProjectName() }})</td>
                            <td>{{ module.getSiteCount() }} ({{ module.getUsagePercentage() }}%)</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% else %}

    <p>There are currently no modules registered.</p>

    {% endif %}

{% endblock %}