<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex,nofollow" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title>{% block title %}{% endblock %}</title>

        {% block head %}{% endblock %}

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="//code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />

        {% set mincss = app.environment == 'dev' ? '' : '.min' %}
        <!-- Deeson fonts -->
        <link rel="stylesheet" href="{{ asset('bundles/deesonwarden/assets/fonts/icomoon/style.css') }}" />
        <!-- DataTables -->
        <link rel="stylesheet" href="{{ asset('bundles/deesonwarden/assets/css/datatables/dataTables.bootstrap.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/deesonwarden/assets/css/AdminLTE.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/deesonwarden/assets/css/skins/skin-red-light.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/deesonwarden/assets/css/skins/warden' ~ mincss ~ '.css') }}" />
        <!-- Custom styling -->
        <link rel="stylesheet" href="{{ asset('bundles/deesonwarden/css/warden-custom.css') }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

        <!-- DATA TABES SCRIPT -->
        <script src="{{ asset('bundles/deesonwarden/assets/js/plugins/datatables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/deesonwarden/assets/js/plugins/datatables/dataTables.bootstrap.min.js') }}" type="text/javascript"></script>

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    {% if app.user %}
    <body class="hold-transition skin-red-light sidebar-mini">
    {% else %}
    <body class="hold-transition login-page skin-red-light">
    {% endif %}
