{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden Dashboard{% endblock %}

{% block page_title 'Dashboard' %}

{% block content %}

    {% if sites %}
        {#<ul>
            {% for site in sites %}
            <li>
                <a href="{{ path('sites_show', {'id': site.getSiteId() }) }}">{{ site.getUrl() }}</a> - {{ site.getCoreVersion() }} - {{ site.getLatestCoreVersion() }} (Security: {% if site.getIsSecurityCoreVersion() %}Y{% else %}N{% endif %})
                <br />
                {% for module in site.modules %}
                    <a href="{{ path('modules_show', {'projectName': module.name }) }}">{{ module.name }}</a> {% if module.isSecurity %}(Security Update){% endif %},
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
        <hr/>#}

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="60%">Site</th>
                                {# <td width="50%">Website link</td> #}
                                <th>Core Version</th>
                                <th>Status</th>
                                {# <td>Latest Core Version [Security Update]</td> #}
                            </tr>
                        </thead>
                        <tbody>
                        {% for site in sites %}
                            <tr class="{% if site.getIsSecurityCoreVersion() %}alert alert-danger{% else %}alert alert-warning{% endif %}">
                                <td><a href="{{ path('sites_show', {'id': site.getSiteId() }) }}">{{ site.getName() }}</a> [{{ site.getUrl() }}]</td>
                                <td>{{ site.getCoreVersion() }}</td>
                                <td style="cursor: pointer;" onclick="document.location = '{{ path('sites_show', {'id': site.getSiteId() }) }}';" {% if site.getIsSecurityCoreVersion() %}class="error"{% endif %}>{% if site.getIsSecurityCoreVersion() %}<span class="fa fa-warning"></span>&nbsp;View {% endif %}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <p>There are currently no sites with any problems.</p>

    {% endif %}

{% endblock %}
