{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden Dashboard{% endblock %}

{% block page_title 'Dashboard' %}

{% block content %}

    {% if sites %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Site</th>
                                <th width="10%">Type</th>
                                <th width="12%">Updates</th>
                                <th width="10%">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for site in sites %}
                            <tr class="{% if site['critical'] %}alert alert-danger{% else %}alert alert-warning{% endif %}">
                                <td><a href="{{ path('sites_show', {'id': site['id'] }) }}">{{ site['name'] }}</a> [{{ site['url'] }}]</td>
                                <td>{% if site['iconPath'] is not empty %}<img src="{{ asset(site['iconPath']) }}" width="20" />{% else %} - {% endif %}</td>
                                <td>
                                    {% transchoice site['issuesCount'] %}
                                        {0} -|{1} 1 update|]1,Inf[ %count% updates
                                    {% endtranschoice %}
                                </td>
                                <td style="cursor: pointer;" {% if site['critical'] %}onclick="document.location = '{{ path('sites_show', {'id': site['id'] }) }}';" class="error"{% endif %}>{% if site['critical'] %}<span class="fa fa-warning"></span>&nbsp;{% endif %}View</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <p>There are currently no sites with any problems.</p>

    {% endif %}

{% endblock %}
