{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}Site Status Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}

    {% if sites %}
    {#<ul>
        {% for site in sites %}
        <li>
            <a href="/sites/{{ site.getSiteId() }}">{{ site.getUrl() }}</a> - {{ site.getCoreVersion() }} - {{ site.getLatestCoreVersion() }} (Security: {% if site.getIsSecurityCoreVersion() %}Y{% else %}N{% endif %})
            <br />
            {% for module in site.modules %}
                <a href="/modules/{{ module.name }}">{{ module.name }}</a> {% if module.isSecurity %}(Security Update){% endif %},
            {% endfor %}
        </li>
        {% endfor %}
    </ul>

    <hr/>#}

    <table border="1" width="100%">
        <thead>
            <tr>
                <td width="50%">Site</td>
                <td>Core Version</td>
                <td>Latest Core Version [Security Update]</td>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
        <tr>
            <td><a href="/sites/{{ site.getSiteId() }}">{{ site.getUrl() }}</a></td>
            <td>{{ site.getCoreVersion() }}</td>
            <td>
                {{ site.getLatestCoreVersion() }}
                [{% if site.getIsSecurityCoreVersion() %}Y{% else %}N{% endif %}]
            </td>
        </tr>
        {% if site.modules %}
        <tr>
            <td colspan="3">
                Modules needing updates:<br/>
                {% for module in site.modules %}
                    <a href="/modules/{{ module.name }}">{{ module.name }}</a> {% if module.isSecurity %}(Security Update){% endif %},
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% else %}

    <p>There are currently no sites with any problems.</p>

    {% endif %}

{% endblock %}
