{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}Site Status Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}

    <p>This is the sites dashboard page.</p>

    <ul>
        {% for site in sites %}
        <li>
            <a href="/sites/{{ site.id }}">{{ site.url }}</a> - {{ site.coreVersion }} - {{ site.latestCoreVersion }}
            <br />
            {% for module in site.modules %}
                <a href="/modules/{{ module.name }}">{{ module.name }}</a>,
            {% endfor %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}
