{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}View site: {{ site.getUrl() }}{% endblock %}

{% block content_header '' %}

{% block content %}

    <p>This is a details of a site:</p>

    <p>URL: {{ site.getUrl() }}</p>
    <p>Core Version: {{ site.getCoreVersion() }} ({{ site.getLatestCoreVersion() }}, {% if site.compareCoreVersion() %}Y{% else %}N{% endif %})</p>
    <p>System Status Token: {{ site.getSystemStatusToken() }}</p>
    <p>System Status Encrypt Token: {{ site.getSystemStatusEncryptToken() }}</p>

    <a href="/sites/{{ site.getId() }}/update-core">Get Core Version</a>
    <br />
    <br />
    <p>Modules:</p>
    <ul>
        {% for module in site.getModules() %}
        <li>{{ module.name }}: {{ module.version }}</li>
        {% endfor %}
    </ul>
    <br />
    <br />

    <a href="/sites"><< Back</a>
    <br />
    <br />
    <a href="/sites/{{ site.getId() }}/delete">DELETE</a>

{% endblock %}