{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}View site: {{ site.getUrl() }}{% endblock %}

{% block content_header '' %}

{% block content %}

    <p>This is a details of a site:</p>

    <p>URL: {{ site.getUrl() }}</p>
    <p>Core Version: {{ site.getCoreVersion() }} ({{ site.getLatestCoreVersion() }}, {% if site.compareCoreVersion() %}Y{% else %}N{% endif %})</p>

    <p>Modules:</p>
    <ul>
        {% for module in site.getModules() %}
        <li><a href="/modules/{{ module.name }}">{{ module.name }}</a>: {{ module.version }} ({{ site.getModuleLatestVersion(module) }}, {% if site.getModuleIsSecurity(module) %}Y{% else %}N{% endif %}) - out of date: {% if module.version == site.getModuleLatestVersion(module) %}N{% else %}Y{% endif %}</li>
        {% endfor %}
    </ul>
    <br />
    <br />

    <a href="/sites"><< Back</a>
    <br />
    <br />
    <a href="/sites/{{ site.getId() }}/edit">EDIT</a>

{% endblock %}