{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden{% endblock %}

{% block page_title 'Sites' %}

{% block content %}

    {% if sites %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="60%">Site</th>
                            <th>Core Version</th>
                            <th>Latest Core Version (Out of Date) [Security Update] [critical]</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for site in sites %}
                        <tr class="{% if site.getHasCriticalIssue() %}alert alert-danger{% endif %}">
                            <td><a href="{{ path('sites_show', {'id': site.getId() }) }}">{{ site.getName() }}</a> [{{ site.getUrl() }}] {% if site.getIsNew() %}(Pending){% endif %}</td>
                            <td>{{ site.getCoreVersion() }}</td>
                            <td>
                                {{ site.getLatestCoreVersion() }}
                                ({% if site.hasOlderCoreVersion() %}N{% else %}Y{% endif %})
                                [{% if site.getIsSecurityCoreVersion() %}Y{% else %}N{% endif %}]
                                [{% if site.getHasCriticalIssue() %}Y{% else %}N{% endif %}]
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <p>There are currently no sites registered.</p>

    {% endif %}

{% endblock %}
