{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}View site: {{ site.getName() }}{% endblock %}

{% block page_title %}View site: {{ site.getName() }}{% endblock %}

{% block content %}

    <div class="box">
        <br/>

        <div class="clearfix">
            <div class="col-md-10">
                <h2 style="margin-top: 0;">Name: {{ site.getName() }} {% if site.getIsNew() %}(Pending){% endif %}[{% if site.getHasCriticalIssue() %}Y{% else %}N{% endif %}]</h2>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Actions</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('sites_edit', {'id': site.getId() }) }}">Edit Site</a></li>
                        {% if site.isNew() %}{% else %}
                            <li><a href="{{ path('sites_update_refresh', {'id': site.getId() }) }}">Refresh Site
                                    Data</a></li>
                            <li class="divider"></li>{% endif %}
                        <li><a href="{{ path('sites_delete', {'id': site.getId() }) }}">Delete Site</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <p><a href="{{ site.getUrl() }}" target="_blank">{{ site.getUrl() }}</a></p>
            </div>
            <div class="box-body col-md-8">
                {% if site.isNew() %}
                    <div class="alert alert-info alert-dismissable">
                        <i class="fa fa-info"></i>
                        <b>Info:</b> This site is currently pending data retrieval.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% for template in templates %}
        <div class="row">
            <div class="col-xs-12">
                {% include template %}
            </div>
        </div>
    {% endfor %}

{% endblock %}