{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}View site: {{ site.getName() }}{% endblock %}

{% block page_title %}View site: {{ site.getName() }}{% endblock %}

{% block content %}

    <div class="box">
        <br/>
        <div class="clearfix">
            <div class="col-md-8">
                <h2 style="margin-top: 0;">Name: {{ site.getName() }}</h2>
                <p><a href="">{{ site.getUrl() }}</a></p>
                <p>Core Version: {{ site.getCoreVersion() }}</p>
            </div>
            <div class="box-body col-md-4">
                {% if site.getIsSecurityCoreVersion() %}
                <div class="alert alert-danger alert-dismissable">
                    <i class="fa fa-ban"></i>
                    <b>Alert!</b> There is a security update required for this site: {{ site.getLatestCoreVersion() }}
                </div>
                {% endif %}
                {% if site.compareCoreVersion() %}{% else %}
                <div class="alert alert-warning alert-dismissable">
                    <i class="fa fa-warning"></i>
                    <b>Alert!</b> Current core version is out of date: {{ site.getLatestCoreVersion() }}
                </div>
                {% endif %}
                {#<div class="alert alert-danger alert-dismissable">
                    <i class="fa fa-ban"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                </div>
                <div class="alert alert-info alert-dismissable">
                    <i class="fa fa-info"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> Info alert preview. This alert is dismissable.
                </div>
                <div class="alert alert-warning alert-dismissable">
                    <i class="fa fa-warning"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> Warning alert preview. This alert is dismissable.
                </div>
                <div class="alert alert-success alert-dismissable">
                    <i class="fa fa-check"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Alert!</b> Success alert preview. This alert is dismissable.
                </div>#}
            </div><!-- /.box-body -->
        </div>
    </div>

    {% if modulesRequiringUpdates %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Modules Requiring Updates</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="60%">Name</th>
                            <th>Version</th>
                            <th>Latest Version</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for module in modulesRequiringUpdates %}
                        <tr class="{% if site.getModuleIsSecurity(module) %}alert alert-danger{% else %}{% if module.version != site.getModuleLatestVersion(module) %}alert alert-warning{% endif %}{% endif %}">
                            <td><a href="{{ path('modules_show', {'projectName': module.name }) }}">{{ module.name }}</a></td>
                            <td>{{ module.version }}</td>
                            <td>{{ site.getModuleLatestVersion(module) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Installed Modules</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="60%">Name</th>
                            <th>Version</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for module in site.getModules() %}
                        <tr>
                            <td><a href="{{ path('modules_show', {'projectName': module.name }) }}">{{ module.name }}</a></td>
                            <td>{{ module.version }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {#<br />
    <br />
    <a href="{{ path('sites_edit', {'id': site.getId() }) }}">EDIT</a>#}

{% endblock %}