{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}View module: {{ module.getName() }}{% endblock %}

{% block content_header '' %}

{% block content %}

    <p>This is a details of a module</p>

    <p>Name: {{ module.getName() }} ({{ module.getProjectName() }})</p>
    <p>Latest Versions: <br/>
    {% for version, moduleVersion in module.getLatestVersion() %}
        {{ version }} - {{ moduleVersion }}<br/>
    {% endfor %}
    </p>

    <p>Sites:</p>
    <ul>
        {% for site in module.getSites() %}
        <li>{{ site.url }} - {{ site.version }} - out of date: {% if module.compareVersion(site.version) %}N{% else %}Y{% endif %}</li>
        {% endfor %}
    </ul>

    <a href="/modules"><< Back</a>

{% endblock %}