<div class="box">
    <div class="box-header">
        <h3 class="box-title">Modules requiring updates <span class="small">({{ modulesRequiringSecurityUpdatesCount }} require a security update, {{ modulesRequiringUpdatesCount }} are out of date)</span></h3>
    </div>
    <div class="box-body no-padding">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="60%">Name</th>
                <th>Version</th>
                <th>Latest Version</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modulesRequiringUpdates %}
              {% set hasSafeVersionFlag = siteModule.hasSafeVersionFlag(module.name) %}
              {% set hasSecurityAlert = siteModule.getModuleIsSecurity(module) %}
              {% set alertClass = hasSafeVersionFlag ? 'bg-teal' : 'alert-danger' %}
                <tr class="{% if hasSecurityAlert %}alert {{ alertClass }}{% else %}{% if siteModule.getModuleIsDevRelease(module) %}alert-info{% else %}{% if module.version != siteModule.getModuleLatestVersion(module) %}alert alert-warning{% endif %}{% endif %}{% endif %}">
                    <td><a href="{{ path('warden_drupal_modules_show', {'projectName': module.name }) }}">{{ module.name }}</a> {% if siteModule.isModuleSupported(module) %}<span class="fa fa-warning"></span>&nbsp;Obsolete/ Unsupported{% endif %}</td>
                    <td>
                        {{ module.version }}
                        {% if hasSecurityAlert and hasSafeVersionFlag %}
                          &nbsp;<a href="#" data-toggle="modal" data-target="#modal-safe-reason" data-module-id="{{ module.name }}" title="View safe version reason"><i class="fa fa-eye"></i></a>
                          &nbsp;<a href="#" data-toggle="modal" data-target="#modal-remove-safe-reason" data-module-id="{{ module.name }}" data-version="{{ module.version }}" title="Remove this safe version reason"><i class="fa fa-trash"></i></a>
                        {% else %}
                          {% if siteModule.getModuleIsSecurity(module) %}
                            &nbsp;<a href="#" data-toggle="modal" data-target="#modal-safe-version" data-module-id="{{ module.name }}" title="Is this a safe version"><i class="fa fa-pencil"></i></a>
                          {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ siteModule.getModuleLatestVersion(module) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- /.modal #modal-safe-version -->
        <div class="modal fade" id="modal-safe-version">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Is this version safe to mark as </h4>
              </div>
              <div class="modal-body">
                <form id="safe-version">
                  <p>Do you want to fix this?</p>
                  <textarea name="reason" style="width:100%; "></textarea>
                  <input type="hidden" name="moduleId" id="moduleId" value="" />
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-safe-version-form-submit" data-dismiss="modal">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal #modal-safe-version -->

        <!-- /.modal #modal-safe-reason -->
        <div class="modal fade" id="modal-safe-reason">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Safe Reason</h4>
              </div>
              <div class="modal-body">
                <p>Reason for this being OK'd at this version</p>
                <div id="safe-reason-loading">loading .... </div>
                <div id="safe-reason-data">
                  User: <span id="safe-user"></span>
                  <div id="safe-reason"></div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal #modal-safe-reason -->

        <!-- /.modal #modal-safe-reason -->
        <div class="modal fade" id="modal-remove-safe-reason">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove Safe Reason</h4>
              </div>
              <div class="modal-body">
                <form id="remove-safe-version">
                  <p>Are you sure you want to remove this safe version flag from '<span id="removal-safe-module-name"></span>'?</p>
                  <input type="hidden" name="moduleId" id="moduleId" value="" />
                  <input type="hidden" name="version" id="version" value="" />
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-remove-safe-reason-form-submit" data-dismiss="modal">Remove</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal #modal-safe-reason -->

      <script type="text/javascript">
      <!--
      var target = null;
      $('#modal-safe-version').on('show.bs.modal', function(e) {
        target = e.relatedTarget;
        var moduleId = $(target).data('module-id');
        var modal = $(this);
        modal.find('#moduleId').val(moduleId);
      });

      $('#modal-safe-version-form-submit').on('click', function(e) {
        $.ajax({
          type: "POST",
          url: "{{ path('warden_drupal_modules_set_safe_version', {'siteId': siteId }) }}",
          data: $('form#safe-version').serialize(),
          async: true,
          success: function(response) {
            $(target).hide();
            $(target).closest('tr').removeClass('alert-danger').addClass('bg-teal');
            $('#modal-safe-version .btn-default').click()
          },
          error: function() {
            console.log('Error');
          }
        });
        return false;
      });

      $('#modal-safe-reason').on('show.bs.modal', function(e) {
        target = e.relatedTarget;
        var moduleId = $(target).data('module-id');

        $('#safe-reason-loading').show();
        $('#safe-reason-data').hide();
        $('#safe-reason').html('');
        $('#safe-user').html('');
        $.ajax({
          type: "GET",
          url: "{{ path('warden_drupal_modules_get_safe_reason', {'siteId': siteId }) }}",
          data: {
            'module': moduleId
          },
          async: true,
          success: function(response) {
            $('#safe-reason').html(response.reason);
            $('#safe-user').html(response.user);
            $('#safe-reason-loading').hide();
            $('#safe-reason-data').show();
          },
          error: function() {
            console.log('Error');
            $('#safe-reason').html('There was an error getting this data');
            $('#safe-reason-loading').hide();
            $('#safe-reason-data').show();
          }
        });
      });

      $('#modal-remove-safe-reason').on('show.bs.modal', function(e) {
        target = e.relatedTarget;
        var moduleId = $(target).data('module-id');
        var version = $(target).data('version');
        var modal = $(this);
        modal.find('#removal-safe-module-name').html(moduleId);
        modal.find('#moduleId').val(moduleId);
        modal.find('#version').val(version);
      });


      $('#modal-remove-safe-reason-form-submit').on('click', function(e) {
        $.ajax({
          type: "POST",
          url: "{{ path('warden_drupal_modules_remove_safe_version', {'siteId': siteId }) }}",
          data: $('form#remove-safe-version').serialize(),
          async: true,
          success: function(response) {
            $(target).hide();
            $(target).closest('tr').removeClass('bg-teal').addClass('alert-danger');
            $('#modal-remove-safe-reason .btn-default').click()
          },
          error: function() {
            console.log('Error');
          }
        });
        return false;
      });
      //-->
      </script>
    </div>
</div>
