<div class="box">
    <div class="box-header">
        <h3 class="box-title">Installed Modules <span class="small">({{ modules|length }} installed)</span></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="60%">Name</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                <tr {% if siteModule.getModuleIsDevRelease(module) %}class="alert-info"{% endif %}>
                    <td>
                        {% if (module.version) %}
                        <a href="{{ path('warden_drupal_modules_show', {'projectName': module.name }) }}">
                            {{ module.name }}
                        </a>
                        {% if siteModule.isModuleSupported(module) %}<span class="fa fa-warning"></span>&nbsp;Obsolete/ Unsupported{% endif %}
                        {% else %}
                            {{ module.name }}
                        {% endif %}
                    </td>
                    <td>{{ module.version }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
