{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Module Status{% endblock %}

{% block page_title 'Modules' %}

{% block content %}

    {% if modules %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <table id="moduleList" class="table table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="sorting" width="60%">Module</th>
                                <th class="sorting_desc">Number of sites (Site usage)</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for module in modules %}
                        <tr>
                            <td><a href="{{ path('warden_drupal_modules_show', {'projectName': module.getProjectName() }) }}">{{ module.getName() }}</a> ({{ module.getProjectName() }})</td>
                            <td>{{ module.getSiteCount() }} ({{ module.getUsagePercentage() }}%)</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            $.fn.dataTableExt.oSort['numeric-usage-asc'] = function(a, b) {
                                a = parseInt(a);
                                b = parseInt(b);
                                return ((a < b) ? -1 : ((a > b) ?  1 : 0));
                            };
                            $.fn.dataTableExt.oSort['numeric-usage-desc'] = function(a, b) {
                                a = parseInt(a);
                                b = parseInt(b);
                                return ((a < b) ? 1 : ((a > b) ?  -1 : 0));
                            };

                            $('#moduleList').dataTable({
                                "aoColumns": [
                                  null,
                                  { "sType": "numeric-usage" }
                                ],
                                "aaSorting" : [[1, 'desc']],
                                "bPaginate": false,
                                "bLengthChange": false,
                                "bFilter": false,
                                "bSort": true,
                                "bInfo": false,
                                "bAutoWidth": false
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

    {% else %}

    <p>There are currently no modules registered.</p>

    {% endif %}

{% endblock %}
